Django==5.1.5
djangorestframework==3.14.0
django-cors-headers==4.3.1
django-debug-toolbar==4.3.0
django-guardian==2.4.0
drf-yasg==1.21.7
psycopg2-binary==2.9.9
gunicorn==21.2.0
whitenoise==6.6.0
django-redis==5.4.0
django-axes==6.3.0
django-defender==0.9.7
Pillow==10.2.0
django-model-utils==4.3.1 
django-storages[s3]
python-decouple
django-anymail[mailgun]
django-filter==23.5